(
  schema_version: 2,
  name: "start_menu",

  entities: [],

  ui: [
    (
      kind: "button",
      id: "start_game_button",
      text: "Start Game",
      action: "ui.start_game",
      position: (100.0, 100.0),
      size: (300.0, 65.0),
    ),
    (
      kind: "button",
      id: "quit_button",
      text: "Quit",
      action: "ui.quit",
      position: (100.0, 200.0),
      size: (300.0, 65.0),
    ),
    (
      kind: "button",
      id: "test_actions_button",
      text: "Test Actions",
      action: "ui.test_actions",
      position: (100.0, 300.0),
      size: (300.0, 65.0),
    ),
  ],
)
