(
  schema_version: 2,
  prefabs: {
    "player_warrior": (
      kind: Actor,
      model: "hero",
      components: (
        tags: ["player"],
      ),
      animation_policy: "prefabs/animation/player_policy.ron",
    ),

    "enemy_orc_melee": (
      kind: Actor,
      model: "orc",
      components: (
        tags: ["enemy"],
      ),
    ),
  }
)
