(
  schema_version: 2,
  name: "options",

  lighting: Some((
    ambient: Some((0.3, 0.3, 0.35)),
    directional: Some((
      color: (1.0, 0.95, 0.85),
      intensity: 8000.0,
      rotation_euler_deg: (-30.0, 45.0, 0.0),
    )),
  )),

  entities: [],

  ui: [
    (
      kind: "button",
      id: "back_button",
      text: "< Back",
      action: "ui.back_to_start_menu",
      position: (100.0, 100.0),
      size: (300.0, 65.0),
    ),
  ],
)
