(
    schema_version: 2,
    project_id: "quick_scene",
    display_name: "Quick Scene",

    initial_scene: "scenes/main.scene.ron",

    asset_catalog: "assets.ron",
    prefab_catalog: "prefabs/prefabs.ron",
    rules_path: "logic/rules.ron",
    model_fixes_path: "overrides/model_fixes.ron",

    global_environment: (
        intensity: 400.0,
        fallback: (
            top_color: (0.1, 0.2, 0.4),
            bottom_color: (0.01, 0.01, 0.01),
        ),
    ),
)
