(
    schema_version: 2,
    rules: [
        (
            on: "ui.button_pressed:start_game",
            do_actions: [ Log("LoadScene Triggered"), LoadScene("scenes/main.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:quit",
            do_actions: [ Log("Quit Triggered"), Quit ],
        ),
        (
            on: "ui.button_pressed:test_actions",
            do_actions: [ Log("Test Action Triggered"), Spawn(prefab: "chest_02") ],
        ),
        (
            on: "ui.button_pressed:start_menu",
            do_actions: [ Log("LoadScene Triggered"), LoadScene("scenes/start_menu.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:options",
            do_actions: [ Log("Options Triggered"), LoadScene("scenes/options.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:back_to_start_menu",
            do_actions: [ Log("Back to Start Menu"), LoadScene("scenes/start_menu.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:dance",
            do_actions: [ Log("PlayAnimation Dance_Loop Triggered"), PlayAnimation("dance") ],
        ),
    ],
)
