(
    schema_version: 1,
    initial_scene: "scenes/project_02/start-menu.ron",
    rules: [
        (
            on: "ui.button_pressed:start_game",
            do_actions: [ LoadScene("scenes/project_02/main.ron") ],
        ),
        (
            on: "ui.button_pressed:quit",
            do_actions: [ Quit ],
        ),
    ]
)
