(
    schema_version: 1,
    initial_scene: "scenes/start-menu.ron",
    // Global per-asset corrections
    model_fixes: {
        "models/character-01.glb#Scene0": (
            pivot_offset: (0.0, 0.0, 0.0),
            rotation_deg: (0.0, 180.0, 0.0),
            scale: (1.0, 1.0, 1.0),
        ),
        "models/treasure-chest-01.glb#Scene0": (
            pivot_offset: (0.0, 0.0, 0.0),
            rotation_deg: (0.0, 90.0, 0.0),
            scale: (2.2, 2.2, 2.2),
        ),
    },
    rules: [
        (
            on: "ui.button_pressed:start_game",
            do_actions: [ Log("LoadScene Triggered"), LoadScene("scenes/main.ron") ],
        ),
        (
            on: "ui.button_pressed:quit",
            do_actions: [ Log("Quit Triggered"), Quit ],
        ),
        (
            on: "ui.button_pressed:test_actions",
            do_actions: [ Log("Test Action Triggered"), Spawn("models/treasure-chest-02.glb#Scene0") ],
        ),
        (
            on: "ui.button_pressed:start_menu",
            do_actions: [ Log("LoadScene Triggered"), LoadScene("scenes/start-menu.ron") ],
        ),
        (
            on: "ui.button_pressed:dance",
            do_actions: [ Log("PlayAnimation Dance_Loop Triggered"), PlayAnimation("dance") ],
        ),
    ]
)
