(
    schema_version: 2,
    rules: [
        (
            on: "ui.button_pressed:start_game",
            do_actions: [ Log("LoadScene Triggered"), PlaySound("click"), LoadScene("scenes/main.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:quit",
            do_actions: [ Log("Quit Triggered"), PlaySound("click"), Quit ],
        ),
        (
            on: "ui.button_pressed:test_actions",
            do_actions: [ Log("Test Action Triggered"), PlaySound("click"), Spawn(prefab: "chest_02") ],
        ),
        (
            on: "ui.button_pressed:start_menu",
            do_actions: [ Log("LoadScene Triggered"), PlaySound("click"), LoadScene("scenes/start_menu.scene.ron") ],
        ),
        (
            on: "ui.button_pressed:dance",
            do_actions: [ Log("PlayAnimation Dance_Loop Triggered"), PlaySound("click"), PlayAnimation("dance") ],
        ),
        (
            on: "ui.button_pressed:spawn_enemy",
            do_actions: [ Log("Spawning enemy orc"), PlaySound("click"), Spawn(prefab: "enemy_orc_melee", spawn_point: Some("enemy_wave_a"), yaw_deg: Some(90.0)) ],
        ),
    ],
)