(
    schema_version: 2,
    project_id: Some("terrain_demo"),
    display_name: Some("Terrain Demo"),

    initial_scene: "scenes/terrain.scene.ron",

    asset_catalog: Some("assets.ron"),
    prefab_catalog: Some("prefabs/prefabs.ron"),
    rules_path: Some("logic/rules.ron"),
    model_fixes_path: Some("overrides/model_fixes.ron"),

    global_environment: Some((
        intensity: 400.0,
        fallback: Some((
            top_color: (0.1, 0.2, 0.4),
            bottom_color: (0.01, 0.01, 0.01),
        )),
    )),
)
