(
  schema_version: 1,
  models: {
    "hero": (
      path: "shared/models/character-01.glb#Scene0",
    ),
    "orc": (
      path: "shared/models/creatures/orc.glb#Scene0",
    ),
    "chest_01": (
      path: "shared/models/props/treasure-chest-01.glb#Scene0",
    ),
    "chest_02": (
      path: "shared/models/props/treasure-chest-02.glb#Scene0",
    ),
    "anvil": (
      path: "shared/models/props/anvil.glb#Scene0",
    ),
    "alpaking": (
      path: "shared/models/creatures/alpaking.glb#Scene0",
    ),
    "terrain_demo": (
      path: "projects/3rd_person_game_demo/terrain/heightmap.png",
    ),
  },

  textures: {
    "grass": "shared/terrain/grass.png",
    "rock": "shared/terrain/rock.png",
    "snow": "shared/terrain/snow.png",
  },

  audio: {
    "click":     (path: "shared/audio/menu-button-click.wav"),
    "walk":      (path: "shared/audio/walk.wav"),
    "run_grass": (path: "shared/audio/run-grass.wav"),
    "bg_music":  (path: "shared/audio/bg-music-balance.mp3"),
  },
)
