(
    models: [
        (
            path: "models/treasure-chest-01.glb#Scene0",
            position: (4.0, 0.0, 0.0),
        ),
        (
            path: "models/character-01.glb#Scene0",
            position: (0.0, 0.0, 0.0),
        ),
    ]
)
